#home-services {
  padding: 50px 0;
}
.services__grid {
  display: flex;
  justify-content: center;
}
.services__content {
  width: 65%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.services__title {
  color: var(--bg-color-secondary);
  font-size: clamp(22px, 3.7vw, 45px);
}
.services__subtitle {
  margin: 15px 0;
}
.services__card__list {
  gap: 25px;
  display: grid;
  padding: 45px 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media only screen and (max-width: 767px) {
  .services__content {
    width: 95%;
  }
}